
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


#topo{
    position: absolute;
    background-color: rgb(15, 153, 96);
    height: 200px;
    width: 1900px;
    top: 0px;
    text-align: center;
    font-size: 50px;
    padding: 50px;



}

#esquerdo{
    position: absolute;
    background-color: rgb(160, 160, 160);
    top: 200px;
    height: 700px;
    width:1900px;


}

#conteudo{
    position: absolute;
    left: 200px;
    background-color: grey;
    width: 1390px;
    height: 670px;
    top: 200px;

}

#rodape{
    position: relative;
    background-color: aqua;
    top: 850px;
    height: 100px;

}
#quadrado1{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 200px;
    left: 1600px;
    top: 200px;
}
#quadrado2{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 200px;
    left: 1600px;
    top: 410px;
}

img{
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 2;
    left: 1450px;
    top: 650px;
}

