.container{
     display: flex;
    position: relative;
    left: 50px;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 700px;
    width: 95%;
    font-family: 'Montserrat', sans-serif;
}

.conteudo{
    width: 95%;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.mapa{
    background-color: rgb(228, 129, 129);
    width: 55%;
    height: 510px;
}

iframe{
    width: 100%;
    height: 510px;
}

.texto{
    background-color: rgb(228, 129, 129);
    width: 55%;
    height: 450px;
    text-align: left;
    padding: 30px;
    color: white;
    font-size: 20px;
}